html,
body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  color: #000;
}

:root {
  --main-color-btn: linear-gradient(253.98deg, #9c59f3 8.07%, #6051ec 108.12%);
  --main-color-font: rgba(0, 0, 0, 0.8);
  --sec-color-font: #a663fc;
  --the-color-font: #ffffff;
  --for-color-font: #898989;
  --icon-color: #c0c0c0;
}

/* HEADER */

nav {
  z-index: 1;
}

.logo_navbar {
  width: 68px;
  height: 35px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--sec-color-font);
  font-size: 15px;
}

.nav-item {
  margin: 15px 0px;
}

.space-btn {
  margin-right: 15px;
}

.btn-default {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--the-color-font);
  width: 130px;
  height: 40px;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.backgroundHalf {
  color: var(--sec-color-font);
  border: 1px solid;
}

.backgroundHalf:hover {
  background: var(--main-color-btn);
  color: var(--the-color-font);
  text-decoration: none;
}

.backgroundFull {
  background: var(--main-color-btn);
  color: var(--the-color-font);
}

.backgroundFull:hover {
  color: var(--sec-color-font);
  background: var(--the-color-font);
  border: 1px solid;
  text-decoration: none;
}

.background-modal {
  background: var(--main-color-btn);
  padding: 50px 0px;
}

.clone-space {
  display: block;
  margin: -0.5rem -0.5rem -0.5rem auto;
  margin-top: -45px;
  margin-bottom: 25px;
  filter: invert(98%) sepia(46%) saturate(2%) hue-rotate(160deg) brightness(113%) contrast(100%);
  -webkit-filter: invert(98%) sepia(46%) saturate(2%) hue-rotate(160deg) brightness(113%) contrast(100%);
}

.clone-space:hover {
  filter: invert(98%) sepia(46%) saturate(2%) hue-rotate(160deg) brightness(113%) contrast(100%);
}

.card-modal {
  padding: 20px 40px;
  box-shadow: 4px 4px 28px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-width: 612px;
  margin: auto;
}

.title-card {
    font-size: 24px;
    font-weight: 600;
    color: var(--for-color-font);
}

.label-form-contact {
  font-size: 14px;
  font-weight: 500;
  color: var(--for-color-font);
}

.input-container i {
  position: absolute;
}

.input-container {
  width: 100%;
  margin-bottom: 10px;
}

.icon-default,
.icon-defaultModal {
  padding: 13px 15px;
  color: var(--icon-color);
}

.input-contact {
  padding-left: 35px;
  font-size: 13px;
  font-weight: 600;
  height: calc(2.25rem + 5px);
  color: var(--for-color-font);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.text-contact {
  padding: 10px 15px;
  font-size: 13px;
  font-weight: 600;
  color: var(--for-color-font);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.input-service {
  padding: 0.375rem 0.75rem;
}

.input-contact:focus {
  border-color: var(--sec-color-font);
  box-shadow: none;
}

.btn-send-submit {
  font-weight: bold;
  margin: auto;
}
/* /HEADER */

/* BODY */
.sections {
  padding: 60px 0px;
}

.background-banner {
  background-image: url(/assets/img/site/background.png);
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 80px;
}

.content-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.position-title-banner {
  margin-bottom: 35px;
  text-align: center;
}

.title-banner {
    font-size: 3.5rem;
    color: var(--the-color-font);
}

.color-dif {
  color: var(--sec-color-font);
}

.position-title-opor {
  width: 650px;
  max-width: 100%;
}

.title-opor {
  font-size: 3rem;
}

.position-cards {
  margin-top: 60px;
}

.column_oppor {
  float: left;
  width: 50%;
  padding: 0 10px;
  margin: 30px 0px;
}

.row_oppor {margin: 0 -5px;}

.row_oppor:after {
  content: "";
  display: table;
  clear: both;
}

.title-inside-oppor {
  font-size: 1.5rem;
  font-weight: bold;
  min-height: 35px;
}

.descri-inside-oppor {
  font-size: 1.025rem;
  min-height: 96px;
}

.position-about {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.positon-img-about, .position-inside-s-3, .position-logo-center, .navbar-footer {
  width: 50%;
}

.img-about {
  background-image: url(/assets/img/site/credit_card.svg);
  display: inline-block;
  width: 504px;
  height: 320px;
  background-size: cover;
}

.s_4 {
  background-color: #F5F5F5;
  margin-top: 50px;
}

#section_4 .position-about {
  flex-direction: row-reverse;
  align-items: flex-start;
}

.title-contact {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.decrip-contact {
  font-weight: 300;
  font-size: 1.25rem;
}

/* /BODY */

/* FOOTER */
.position-top-footer {
  border-bottom: 1px solid var(--sec-color-font);
}

.position-top-footer {
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: var(--sec-color-font);
}

.position-nav-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}

.position-logo-center {
  margin-left: -5%;
}

.social-incard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.background-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #E5E5E5;
  margin: 0 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.background-icon:hover {
  top: -.25rem;
  box-shadow: 0 1px 0 #8f3cfc, 0 3px 0 -1px #8f3cfc, 0 5px 0 -2px #8f3cfc, 0 7px 0 -3px #8f3cfc, 0 3px 0 1px #8f3cfc, 0 0px 0 0px #8f3cfc;
}

.icon-style {
  color: var(--sec-color-font);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.icon-style:hover {
  color: var(--for-color-font);
}

.position-copyright {
  text-align: center;
  margin-top: 40px;
}

.copyright-sytle {
  opacity: 0.8;
  font-size: 0.938rem;
}

