/* Small devices (landscape phones, 576px and up) */
@media (max-width: 360px) {

}

@media ( max-width: 575.98px) {

}

@media screen and (max-width: 600px) {
  .column_oppor {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .position-inside-oppor {
    text-align: center;
  }

  .btn-default {
    margin: auto;
  }

  .position-about, #section_4 .position-about, .position-top-footer {
    flex-direction: column;
    align-items: center;
  }

  #section_4 .position-about {
    flex-direction: column-reverse;
  }

  .positon-img-about, .position-inside-s-3  {
    width: 100%;
    margin: 25px 0px;
  }

  .img-about {
    width: 100%;
  }

  .navbar-footer, .position-nav-footer, .position-logo-center {
    width: 100%;
  }

  .position-logo-center {
    margin-left: 0;
    margin: 15px 0px;
    text-align: center;
  }
}

@media (max-width: 812.98px) {
  .position-title-opor {
    width: 100%;
  }
}

@media (max-width: 991.98px) {

}

@media (max-width: 1024.98px) {

}

@media (max-width: 1250.98px) {

}

@media (max-width: 1366.98px) {

}

@media (max-width: 2560.98px) {

}

@media (min-width: 3839.98px) {

}
