/* Small devices (landscape phones, 576px and up) */
@media (max-width: 360px) {

}

@media ( max-width: 575.98px) {

}

@media screen and (max-width: 600px) {
  .column_oppor {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .position-inside-oppor {
    text-align: center;
  }

  .btn-default {
    margin: auto;
  }

  .position-about, #section_4 .position-about, .position-top-footer {
    flex-direction: column;
    align-items: center;
  }

  #section_4 .position-about {
    flex-direction: column-reverse;
  }

  .positon-img-about, .position-inside-s-3  {
    width: 100%;
    margin: 25px 0px;
  }

  .img-about {
    width: 100%;
  }

  .navbar-footer, .position-nav-footer, .position-logo-center {
    width: 100%;
  }

  .position-logo-center {
    margin-left: 0;
    margin: 15px 0px;
    text-align: center;
  }
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }

    #sidebar_btn {
        display: none;
    }

    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }

    #check:checked ~ .content {
        margin-left: 0;
    }

    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }

    .name-user {
        display: none;
    }

    .img-logo-dash {
        margin-left: 0;
    }

    .nav_bar {
        background: var(--main-color-btn);
        width: (100% - 0px);
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav_bar .nav_btn {
        color: var(--the-color-font);
        font-size: 1.375rem;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }

    .nav_bar .nav_btn:hover {
        color: var(--hover-btn);

    }

    .mobile_nav_items {
        background: var(--main-color-btn);
        display: none;
    }

    .mobile_nav_items a {
        color: var(--the-color-font);
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

    .mobile_nav_items a:hover {
        background: var(--hover-btn);
    }

    .mobile_nav_items i {
        padding-right: 10px;
    }

    .active {
        display: block;
    }

    .positon-btn-another {
        margin-top: 0px;
    }
}

@media (max-width: 812.98px) {
  .position-title-opor {
    width: 100%;
  }
}

@media (max-width: 991.98px) {

}

@media (max-width: 1024.98px) {

}

@media (max-width: 1250.98px) {

}

@media (max-width: 1366.98px) {

}

@media (max-width: 2560.98px) {

}

@media (min-width: 3839.98px) {

}
