<div class="position-title-home-dash">
  <h6 class="title-home-dash">SEJA BEM VINDO (NOME USUÁRIO) A <span class="color-dif">< SUDO BANK ></span></h6>
</div>
<div class="position-cards">
  <div class="row_oppor">
      <div class="column_oppor">
          <div class="position-inside-oppor">
              <h6 class="title-inside-oppor">Primeiros passo</h6>
              <p class="descri-inside-oppor">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
          </div>
      </div>
      <div class="column_oppor">
          <div class="position-inside-oppor">
              <h6 class="title-inside-oppor">Segundo passo</h6>
              <p class="descri-inside-oppor">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
          </div>
      </div>
  </div>
</div>
<div class="position-information-count">
  <h6 class="title-inside-oppor">Informações da sua conta</h6>
</div>
<div class="position-information-dices">
  <div class="row">
      <div class="form-group col-sm-12 col-md-4">
          <label class="label-form-contact information-form" for="banco">Nome do banco</label>
          <div class="input-container">
              <input type="text" class="form-control input-contact" id="banco" placeholder="SudoBank 073" disabled>
          </div>
      </div>
      <div class="form-group col-sm-12 col-md-2">
          <label class="label-form-contact information-form" for="agencia">Agência</label>
          <div class="input-container">
              <input type="text" class="form-control input-contact" id="agencia" placeholder="0001" disabled>
          </div>
      </div>
      <div class="form-group col-sm-12 col-md-4">
          <label class="label-form-contact information-form" for="numeroC">Número da conta</label>
          <div class="input-container">
              <input type="text" class="form-control input-contact" id="numeroC" placeholder="000000000000" disabled>
          </div>
      </div>
      <div class="form-group col-sm-12 col-md-2">
          <label class="label-form-contact information-form" for="codigo">Código de Segurança</label>
          <div class="input-container">
              <input type="text" class="form-control input-contact" id="codigo" placeholder="305" disabled>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="form-group col-sm-12 col-md-2">
          <label class="label-form-contact information-form" for="saldo">Saldo</label>
          <div class="input-container">
              <input type="text" class="form-control input-contact" id="saldo" placeholder="R$ 0" disabled>
          </div>
      </div>
      <div class="form-group col-sm-12 col-md-2">
          <label class="label-form-contact information-form" for="validade">Validade</label>
          <div class="input-container">
              <input type="text" class="form-control input-contact" id="validade" placeholder="08 / 2025" disabled>
          </div>
      </div>
      <div class="form-group col-sm-12 col-md-4">
          <label class="label-form-contact information-form" for="numeroCa">Número do cartão</label>
          <div class="input-container">
              <input type="text" class="form-control input-contact" id="numeroCa" placeholder="000000000000" disabled>
          </div>
      </div>
  </div>
  <div class="positon-btn-another">
      <a class="btn-default backgroundFull space-btn btn-dashboard" href="extrato">Ver extrato</a>
      <a class="btn-default backgroundFull btn-dashboard" data-bs-toggle="modal" href="#modalTermos">Termos</a>
  </div>
</div>
