<section class="sections background-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="content-banner">
                  <div class="position-title-banner">
                      <h2 class="title-banner">Lorem ipsum <span class="color-dif">dolor</span></h2>
                  </div>
                  <div class="position-btn-banner">
                      <button type="button" class="btn-default backgroundFull" data-bs-toggle="modal" data-bs-target="#modalLogar">Entrar agora</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="sections s_2" id="section_2">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="position-title-opor">
                  <h4 class="title-opor">Vantagens de utilizar <span class="color-dif">Sudo Bank</span></h4>
              </div>
              <div class="position-cards">
                  <div class="row row_oppor">
                      <div class="column_oppor">
                          <div class="position-inside-oppor">
                              <h6 class="title-inside-oppor">Sed ut perspiciatis</h6>
                              <p class="descri-inside-oppor">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
                              <div class="positon-btn-more">
                                  <a class="btn-default backgroundHalf" href="#">Saber Mais</a>
                              </div>
                          </div>
                      </div>
                      <div class="column_oppor">
                          <div class="position-inside-oppor">
                              <h6 class="title-inside-oppor">Lorem ipsum dolor</h6>
                              <p class="descri-inside-oppor">Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                              <div class="positon-btn-more">
                                  <a class="btn-default backgroundHalf" href="#">Saber Mais</a>
                              </div>
                          </div>
                      </div>
                      <div class="column_oppor">
                          <div class="position-inside-oppor">
                              <h6 class="title-inside-oppor">Nemo enim ipsam</h6>
                              <p class="descri-inside-oppor">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
                              <div class="positon-btn-more">
                                  <a class="btn-default backgroundHalf" href="#">Saber Mais</a>
                              </div>
                          </div>
                      </div>
                      <div class="column_oppor">
                          <div class="position-inside-oppor">
                              <h6 class="title-inside-oppor">Tempor incididunt</h6>
                              <p class="descri-inside-oppor">Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                              <div class="positon-btn-more">
                                  <a class="btn-default backgroundHalf" href="#">Saber Mais</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="sections s_3" id="section_3">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="position-about">
              <div class="positon-img-about">
                <span class="img-about"></span>
              </div>
              <div class="position-inside-s-3">
                <h6 class="title-inside-oppor">Sed ut perspiciatis unde omnis</h6>
                <p class="descri-inside-oppor">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>

<section class="sections s_4" id="section_4">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <div class="position-about">
              <div class="positon-img-about">
                <div class="card card-modal">
                    <form>
                        <div class="form-row">
                              <div class="form-group col-sm-12 col-md-7">
                                <label class="label-form-contact" for="name">Nome</label>
                                <div class="input-container">
                                    <i class="fas fa-user icon-default"></i>
                                    <input type="text" class="form-control input-contact" id="name" placeholder="Digite seu nome" required>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-5">
                                <label class="label-form-contact" for="telephone">Telefone</label>
                                <div class="input-container">
                                    <i class="fas fa-phone icon-default"></i>
                                    <input type="text" class="form-control input-contact" name="telephone" id="telephone" placeholder="+00 (00) 00000-0000" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-7">
                                <label class="label-form-contact" for="email">E-mail</label>
                                <div class="input-container">
                                    <i class="fas fa-envelope icon-default"></i>
                                    <input type="email" class="form-control input-contact" name="email" id="email" placeholder="Digite seu melhor e-mail" />
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-5">
                                <label class="label-form-contact" for="assunto">Assunto</label>
                                <div class="input-container">
                                  <i class="fas fa-pencil-alt icon-default"></i>
                                  <input type="text" class="form-control input-contact" name="assunto" id="assunto" placeholder="Qual a sua duvida?" />
                              </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12 col-md-12">
                                <textarea class="form-control text-contact" id="message" placeholder="Mensagem" rows="6"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn-default btn-send-submit backgroundFull">ENVIAR</button>
                    </form>
                </div>
              </div>
              <div class="position-inside-s-3">
                <h6 class="title-contact">LOREM <span class="color-dif">IPSUM DOLOR</span></h6>
                <p class="decrip-contact">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
