    <section class="sections footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="position-top-footer">
                      <div class="navbar-footer">
                        <ul class="navbar-nav">
                          <div class="position-nav-footer">
                            <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="/">Oportunidades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/">Nos conheça</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/">Contato</a>
                            </li>
                          </div>
                        </ul>
                      </div>
                      <div class="position-logo-center">
                         <img class="logo-center" src="/assets/img/geral/logo.png" />
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="psoiton-social-medias">
                  <div class="social-incard">
                    <div class="background-icon">
                        <a class="icon-style" target="_blank" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
                    <div class="background-icon">
                        <a class="icon-style" target="_blank" href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                    </div>
                    <div class="background-icon">
                        <a class="icon-style" target="_blank" href="#"><i class="fab fa-whatsapp fa-2x"></i></a>
                    </div>
                    <div class="background-icon">
                        <a class="icon-style" target="_blank" href="#"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    </div>
                  </div>
                </div>
                <div class="position-copyright">
                  <p class="copyright-sytle">© Sudo Bank<script>document.write(new Date().getFullYear())</script>. Todos os direitos reservados</p>
                </div>
              </div>
            </div>
        </div>
    </section>

